services:
  web:
    container_name: FFXIVVenues.Web
    image: ffxivvenues/ffxivvenues.web:${IMAGE_TAG}
    restart: unless-stopped
    networks:
      - web
    environment:
      - VITE_FFXIV_VENUES_API_ROOT=${API_PUBLIC_URI}

  api:
    container_name: FFXIVVenues.ApiGateway
    image: ffxivvenues/ffxivvenues.apigateway:${IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - api-media:/app/media:rw
    networks:
      - ffxivvenues
      - web
    env_file:
      - apigateway.env

  flagservice:
    container_name: FFXIVVenues.FlagService
    image: ffxivvenues/ffxivvenues.flagservice:${IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - ffxivvenues
    env_file:
      - flagservice.env

  ogcard:
    container_name: FFXIVVenues.OGCardService
    image: ffxivvenues/ffxivvenues.ogcardservice:${IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ffxivvenues
      - web
    env_file:
      - ogcardservice.env

  postgres:
    container_name: FFXIVVenues.Api.Postgres
    image: postgres
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - ffxivvenues
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

  veni:
    container_name: FFXIVVenues.Veni
    image: ffxivvenues/ffxivvenues.veni:${IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - ffxivvenues
    env_file:
      - veni.env

  mongo:
    container_name: FFXIVVenues.Veni.Mongo
    image: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - ffxivvenues
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username ${MONGO_USER} --password ${MONGO_PASSWORD} --eval 'db.adminCommand(\"ping\")' || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10

  rabbitmq:
    container_name: FFXIVVenues.RabbitMQ
    image: rabbitmq
    restart: unless-stopped
    networks:
      - ffxivvenues
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "is_running"]
      interval: 5s
      timeout: 5s
      retries: 10

  nginx:
    container_name: nginx
    image: nginx
    volumes:
      - ./nginx/config:/etc/nginx/conf.d:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    restart: always
    depends_on:
      - web
      - api

volumes:
  postgres-data:
    name: FFXIVVenues.Api.Postgres.Data
  api-media:
    name: FFXIVVenues.Api.MediaData
  mongo-data:
    name: FFXIVVenues.Veni.Mongo.Data
  rabbitmq-data:
    name: FFXIVVenues.RabbitMQ.Data

networks:
  web:
    name: Web
  ffxivvenues:
    name: FFXIVVenues.Network